<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".ResetPasswordActivity1J"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity2J"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity3J"
            android:exported="false" />
        <activity
            android:name=".MenuActivityJ"
            android:exported="false" />
        <activity
            android:name=".ChangeInformationJ"
            android:exported="false" />
        <activity
            android:name=".RecommendationActivityJ"
            android:exported="false" />
        <activity
            android:name=".FisaMedicalaWebActivityJ"
            android:exported="false" />
        <activity
            android:name=".AlarmsActivityJ"
            android:exported="false" />
        <activity
            android:name=".ActualizareActivityJ"
            android:exported="false" />
        <activity
            android:name=".VizualizareActivityJ"
            android:exported="false" />
        <activity
            android:name=".SelectedChatJ"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivityJ"
            android:exported="false" />
        <activity
            android:name=".FisaMedicalaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivityJ"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>